---
import "../styles/global.css";
---

<footer id="contacte">
  <div class="footer-container">
    <div class="footer-section contact-info">
      <h3>Contacte</h3>
      <p>Carrer de l'Energia, 45</p>
      <p>08010 Barcelona, Espanya</p>
      <p><a href="mailto:info@pulseshock.com">info@pulseshock.com</a></p>
      <p><a href="tel:+34931234567">+34 93 123 4567</a></p>
    </div>

    <div class="footer-section links">
      <h3>Enllaços útils</h3>
      <ul>
        <li><a href="#">Inici</a></li>
        <li><a href="#productes">Productes</a></li>
        <li><a href="#descripcio">Sobre la beguda</a></li>
        <li><a href="#testimonis">Ambassadors</a></li>
      </ul>
    </div>

    <div class="footer-section social-media">
      <h3>Xarxes socials</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <i class="fab fa-facebook-f"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com" target="_blank">
            <i class="fab fa-linkedin-in"></i>
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 PulseShock. Tots els drets reservats.</p>
  </div>
</footer>
