<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>PulseShock - Beguda energètica</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    background-color: black;
    width: 100%;
    height: 100%;
  }
</style>
